<?xml version="1.0"?>
<robot name="cr20af_robot" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="dummy_link" />
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="2.3717E-05 0.00020987 0.065475"
        rpy="0 0 0" />
      <mass
        value="2.9" />
      <inertia
        ixx="0.0078192"
        ixy="-6.2103E-07"
        ixz="-1.9811E-06"
        iyy="0.0077118"
        iyz="-2.2829E-05"
        izz="0.012341" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find cra_description)/meshes/cr20af/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.59216 0.59216 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find cra_description)/meshes/cr20af/base_link.STL" />
      </geometry>
    </collision>
  </link>
    <link  name="world"/>
  <joint name="world_joint" type="fixed">
    <origin xyz="0 0 0.03" rpy="0 0 0" />
    <parent link="world" />
    <child  link="dummy_link" />
  </joint>
  <joint name="dummy_joint" type="fixed">
      <parent link="dummy_link" />
      <child  link="base_link" />
    </joint>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-1.3205E-07 -0.0072256 0.13128"
        rpy="0 0 0" />
      <mass
        value="18.5" />
      <inertia
        ixx="0.03857"
        ixy="6.2294E-08"
        ixz="3.7106E-07"
        iyy="0.037535"
        iyz="0.00048544"
        izz="0.030549" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find cra_description)/meshes/cr20af/J1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find cra_description)/meshes/cr20af/J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.106"
      rpy="0 0 0" />
    <parent
      link="BASE" />
    <child
      link="J1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-1.38E-06 -0.12595 0.34046"
        rpy="0 0 0" />
      <mass
        value="35.9" />
      <inertia
        ixx="1.8933"
        ixy="-5.9217E-07"
        ixz="1.1868E-05"
        iyy="1.884"
        iyz="0.022501"
        izz="0.086168" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find cra_description)/meshes/cr20af/J2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find cra_description)/meshes/cr20af/J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 -0.0965 0.124"
      rpy="0 0 0" />
    <parent
      link="J1" />
    <child
      link="J2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="5.4361E-06 0.07653 0.21729"
        rpy="0 0 0" />
      <mass
        value="8.7" />
      <inertia
        ixx="0.42094"
        ixy="-6.5011E-07"
        ixz="2.302E-05"
        iyy="0.42027"
        iyz="-0.0016083"
        izz="0.013355" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find cra_description)/meshes/cr20af/J3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find cra_description)/meshes/cr20af/J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 -0.0268 0.8252"
      rpy="0 0 0" />
    <parent
      link="J2" />
    <child
      link="J3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.9321"
      upper="2.9321"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="3.1771E-06 -0.051635 0.0086353"
        rpy="0 0 0" />
      <mass
        value="3.23" />
      <inertia
        ixx="0.0015082"
        ixy="-1.6561E-06"
        ixz="-5.0226E-07"
        iyy="0.0014391"
        iyz="-3.1847E-05"
        izz="0.0012089" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find cra_description)/meshes/cr20af/J4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find cra_description)/meshes/cr20af/J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="-6.0194E-05 0.0057 0.74601"
      rpy="0 0 0" />
    <parent
      link="J3" />
    <child
      link="J4" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-8.4434E-06 -0.0086407 0.051636"
        rpy="0 0 0" />
      <mass
        value="3.25" />
      <inertia
        ixx="0.0015082"
        ixy="-4.9765E-07"
        ixz="-1.6507E-06"
        iyy="0.0012088"
        iyz="-3.1857E-05"
        izz="0.0014391" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find cra_description)/meshes/cr20af/J5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find cra_description)/meshes/cr20af/J5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.00012536 -0.057999 0.070795"
      rpy="0 0 0" />
    <parent
      link="J4" />
    <child
      link="J5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-1.4701E-05 -0.041324 0.0001913"
        rpy="0 0 0" />
      <mass
        value="0.95" />
      <inertia
        ixx="0.00066872"
        ixy="-2.0626E-07"
        ixz="-1.0811E-08"
        iyy="0.00072199"
        iyz="1.5946E-06"
        izz="0.00067181" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find cra_description)/meshes/cr20af/J6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find cra_description)/meshes/cr20af/J6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="-6.6123E-05 -0.070502 0.058"
      rpy="0 0 0" />
    <parent
      link="J5" />
    <child
      link="J6" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
  <gazebo reference="base_link">
        <gravity>false</gravity>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="Link1">
        <gravity>false</gravity>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="Link2">
        <gravity>false</gravity>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="Link3">
        <gravity>false</gravity>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="Link4">
        <gravity>false</gravity>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="Link5">
        <gravity>false</gravity>
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="Link6">
        <gravity>false</gravity>
        <selfCollide>true</selfCollide>
    </gazebo> 
    <!-- 在运行demo.launch.py时，需要注释这个ros2_control节点，因为它使用了xxx.ros2_control.xacro来生成了ros2_control节点-->
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="joint1">
            <command_interface name="position">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint2">
            <command_interface name="position">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint3">
            <command_interface name="position">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint4">
            <command_interface name="position">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint5">
            <command_interface name="position">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint6">
            <command_interface name="position">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find cr20af_moveit)/config/ros2_controllers.yaml</parameters>
            <robot_param_node>robot_state_publisher</robot_param_node>
        </plugin>
    </gazebo>
</robot>