<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="cr3af_robot">
  <link name="dummy_link" />
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0015345 -1.0554E-05 0.028348"
        rpy="0 0 0" />
      <mass
        value="0.74" />
      <inertia
        ixx="0.00074849"
        ixy="5.9724E-08"
        ixz="-1.3251E-06"
        iyy="0.00079951"
        iyz="1.6433E-07"
        izz="0.0010879" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr3af/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.59216 0.59216 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr3af/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="dummy_joint" type="fixed">
      <parent link="dummy_link" />
      <child  link="base_link" />
    </joint>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.0039443 -3.6376E-05 0.073442"
        rpy="0 0 0" />
      <mass
        value="4.45" />
      <inertia
        ixx="0.0030782"
        ixy="-1.8164E-06"
        ixz="-1.8902E-05"
        iyy="0.0031919"
        iyz="3.5177E-07"
        izz="0.001909" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr3af/J1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr3af/J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.065"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="J1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.074174 1.4072E-05 0.12923"
        rpy="0 0 0" />
      <mass
        value="8.74" />
      <inertia
        ixx="0.015046"
        ixy="-3.3667E-07"
        ixz="0.00063538"
        iyy="0.017734"
        iyz="1.7848E-06"
        izz="0.0066528" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr3af/J2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr3af/J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.059 0 0.0698"
      rpy="0 0 0" />
    <parent
      link="J1" />
    <child
      link="J2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.0626 6.0771E-07 -0.34381"
        rpy="0 0 0" />
      <mass
        value="3.14" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr3af/J3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr3af/J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.0036 0 0.27401"
      rpy="0 0 0" />
    <parent
      link="J2" />
    <child
      link="J3" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-2.7052"
      upper="2.7052"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.046127 2.7026E-08 -0.0034506"
        rpy="0 0 0" />
      <mass
        value="2.1" />
      <inertia
        ixx="0.0016946"
        ixy="-3.1265E-09"
        ixz="-9.3105E-06"
        iyy="0.0017337"
        iyz="5.4022E-09"
        izz="0.0008225" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr3af/J4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr3af/J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.0167 0 0.22999"
      rpy="0 0 0" />
    <parent
      link="J3" />
    <child
      link="J4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-0.0033307 -1.2849E-07 0.046132"
        rpy="0 0 0" />
      <mass
        value="2.1" />
      <inertia
        ixx="0.0008236"
        ixy="-5.4869E-09"
        ixz="-9.0189E-06"
        iyy="0.0017414"
        iyz="3.5935E-09"
        izz="0.0017023" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr3af/J5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr3af/J5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.049 0 0.067"
      rpy="0 0 0" />
    <parent
      link="J4" />
    <child
      link="J5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="0.022777 -1.019E-08 8.8138E-05"
        rpy="0 0 0" />
      <mass
        value="0.29" />
      <inertia
        ixx="0.00019903"
        ixy="-1.1106E-12"
        ixz="-2.2857E-07"
        iyy="0.0001425"
        iyz="-1.2175E-10"
        izz="0.00014123" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr3af/J6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr3af/J6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.0667 0 0.049"
      rpy="0 0 0" />
    <parent
      link="J5" />
    <child
      link="J6" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
</robot>