<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="cr5af_robot">
  <link name="dummy_link" />
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="8.1389E-06 -0.0019104 0.028995"
        rpy="0 0 0" />
      <mass
        value="1.1" />
      <inertia
        ixx="0.0014545"
        ixy="-4.324E-08"
        ixz="-1.8126E-07"
        iyy="0.001345"
        iyz="-6.2469E-06"
        izz="0.002155" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr5af/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.59216 0.59216 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr5af/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="dummy_joint" type="fixed">
      <parent link="dummy_link" />
      <child  link="base_link" />
    </joint>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-4.7455E-07 0.0032577 0.075323"
        rpy="0 0 0" />
      <mass
        value="5" />
      <inertia
        ixx="0.0053277"
        ixy="5.647E-08"
        ixz="-2.2604E-08"
        iyy="0.0051106"
        iyz="-9.2564E-05"
        izz="0.0034077" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr5af/J1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr5af/J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.064"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="J1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.00017389 0.078516 0.21351"
        rpy="0 0 0" />
      <mass
        value="11.9" />
      <inertia
        ixx="0.17347"
        ixy="-3.9709E-08"
        ixz="0.000131"
        iyy="0.16953"
        iyz="3.7334E-08"
        izz="0.013285" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr5af/J2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr5af/J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0.064 0.083"
      rpy="0 0 0" />
    <parent
      link="J1" />
    <child
      link="J2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.00015029 -0.048307 0.15228"
        rpy="0 0 0" />
      <mass
        value="3.87" />
      <inertia
        ixx="0.064798"
        ixy="-1.5455E-06"
        ixz="-5.9339E-05"
        iyy="0.064091"
        iyz="0.001556"
        izz="0.0042264" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr5af/J3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr5af/J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.00034991 0.007 0.42703"
      rpy="0 0 0" />
    <parent
      link="J2" />
    <child
      link="J3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.7925"
      upper="2.7925"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-2.894E-07 0.047446 0.0020777"
        rpy="0 0 0" />
      <mass
        value="2.07" />
      <inertia
        ixx="0.0016115"
        ixy="5.4436E-09"
        ixz="-4.7861E-09"
        iyy="0.0015715"
        iyz="-3.8502E-05"
        izz="0.00067853" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr5af/J4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr5af/J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="-0.00034988 0.021 0.35697"
      rpy="0 0 0" />
    <parent
      link="J3" />
    <child
      link="J4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-2.9433E-07 -0.0072582 0.046677"
        rpy="0 0 0" />
      <mass
        value="2.1" />
      <inertia
        ixx="0.0021291"
        ixy="2.591E-08"
        ixz="-1.2719E-08"
        iyy="0.00088081"
        iyz="-2.0847E-05"
        izz="0.0020942" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr5af/J5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr5af/J5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0.049 0.067"
      rpy="0 0 0" />
    <parent
      link="J4" />
    <child
      link="J5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="1.019E-08 0.022777 8.8138E-05"
        rpy="0 0 0" />
      <mass
        value="0.27" />
      <inertia
        ixx="0.0001425"
        ixy="1.1102E-12"
        ixz="1.2175E-10"
        iyy="0.00019903"
        iyz="-2.2857E-07"
        izz="0.00014123" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr5af/J6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dobot_rviz/meshes/cr5af/J6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 0.0665 0.049"
      rpy="0 0 0" />
    <parent
      link="J5" />
    <child
      link="J6" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-6.2831"
      upper="6.2831"
      effort="0"
      velocity="0" />
  </joint>
</robot>